* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, 'sans serif';
}
  
body {
  background-color: #616289;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 20px;
}

.container {
  height: 600px;
  width: 600px;
  border: 2px solid black;
  background-color: #F2F2F2;
  display: flex;
  flex-basis: auto;
}

.row {
  flex: 1;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
}

.gridSquare {
  flex: 1;
  border: 1px dotted black;
  background-color: #F2F2F2;
}

button {
  padding: 4px 20px;
  margin: 12px;
  border-radius: 8px;
}