body {
  margin: 0;
  padding: 0;
  background-color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.container {
  height: 600px;
  width: 600px;
  border: 2px solid black;
  background-color: #F2F2F2;
}
